body{

    height: 100vh;
    background-color: rgb(10, 10, 10);
    background-image: url('imagens/wallpaper002.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    /*
        A imagem se adapta de fundo se adapta com o tamanho da janela.
        A imagem se repete se a rolagem ficar muito grande.
    */

}
main{

    width: 400px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    background-color: white;

}