div.bloco{

    background-image: url('imagens/wallpaper003.jpg');
    height: 200px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;

}

div#q1{

    background-position: left top;
/*  background-position: coluna linha;   */

}

div#q2{

    background-position: left center;
/*  background-position: coluna linha;   */

}

div#q3{

    background-position: right bottom;
/*  background-position: coluna linha;   */

}

div#q4{

    background-position: center center;
/*  background-position: coluna linha;   */

}