@font-face {
    font-family: "Logo";
    src: url("fonte/MD\ Grotesk\ Regular.ttf");
}

/* Configuração Geral */

*{
    padding: 0px;
    margin: 0px;
}
body{

    background-color: rgb(243, 243, 243);

}

/* Configurando o Header e a Logo */

nav#cabecalho{

    background-color: black;
    margin: 0px;

}
header h1{
    
    margin: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.041);

    color: black;

    font-size: 4em;
    font-family: 'Logo';
    text-align: center;

}
header a{


    border-color: black;
    margin: 10px;
    

    display: inline-block;

    text-align: left;
    color: white;
    text-decoration: none;

    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: bold;
    font-size: 14px;
    
    position: relative;

}
header a:last-child{

    float: right;
    margin: 10px 10px 0px 0px;


}

/*     Configurando a Aba de Cadastro (Experimental)       */


form.cadastro{

    padding: 20px 20px 50px 20px;
    text-align: center;

}
#nome{

    margin: 10px;
    padding: 5px;
    
}
#email{

    margin: 10px;
    padding: 5px;
    
}
#telefone{

    margin: 10px;
    padding: 5px;
    
}
#enviar{

    margin: 20px;
    padding: 10px;

}

#divisao{

    background-image: url("fotos/R.png");

}
div#divisao h1{

    font-family: 'Logo';
    font-size: 2em;
    font-weight: bolder;
    
    text-align: center;

    padding: 40px 20px 46px 20px;

}


/*     Configurando informações adicionais e o Footer      */
ul#info{
    
    background-color: #CABFAB;
    columns: 2;
    padding: 20px 20px 20px 20px;

}
ul#info a{

    text-decoration: none;
    color: rgba(0, 0, 0, 0.733);

}
ul#info h3{

    margin-bottom: 20px;

    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;

}

footer{
    
    text-align: center;
    background-color: black;
    color: white;
    margin: 0px;
    bottom: 0;

}
footer a{

    font-style: bold;
    text-decoration: underline;
    color: white;
    margin: 0px;

}