*{

    margin: 0px;
    padding: 0px;

}
html, body{

    background-color: black;
    width: 100vw;
    height: 100vh;

}
main{

    height: 100vh;

    background-image: url('imagens/fundo-madeira.jpg');
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: bottom left;
    position: relative;

}
section#telefone{

    height: 627px;
    width: 311px;

    background-image: url('imagens/frame-iphone.png');
    background-repeat: no-repeat;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
iframe#tela{

    height: 467px;
    width: 265px;

    top: 80px;
    left: 22px;
    position: relative;

}